div.content{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

div.toDoList{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
}
div.toDo{
    margin: 10px;
    background: blue;
}