div.content, div.header{
    display: flex;
    flex-direction: row;
}

div.toDoList{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
}
div.toDo{
    margin: 10px;
    background: blue;
}
div.done{
    margin: 10px;
    background: red;
}